<!--
<?php 
print <<<EOT
--> 
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/$STYLE/hr/listperson.css">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="jobtable">
  <tr> 
    <td width="25%" class="side" height="204" valign="top"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="drag">
        <tr> 
          <td class="head"> 
            <div class="LL"></div>
            <div class="TAG">相关信息</div>
            <div class="RR"></div>
          </td>
        </tr>
        <tr> 
          <td height="50" class="CC list_t" style="padding:5px;"> &nbsp;
		  
$label[personglist] 
</td>
        </tr>
        <tr> 
          <td  class="head2">热门职位</td>
        </tr>
        <tr> 
          <td height="50" class="CC morejob">
<div>
<!--
EOT;
$array=list_hr_job('hot',$rows=10);
foreach($array AS $rs){print <<<EOT
-->
·<a href="bencandy.php?fid=$rs[fid]&id=$rs[id]" target="_blank">$rs[title]</a><br>
<!--
EOT;
}print <<<EOT
-->    
			  </div>
		  
		  </td>
        </tr>
      </table>
    </td>
    <td width="75%" class="main" height="204" valign="top"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="drag">
        <tr> 
          <td class="head"> 
            <div class="LL"></div>
            <div class="TAG">找人才</div>
            <div class="RR"></div>
          </td>
        </tr>
        <tr> 
          <td height="250" class="CC" valign="top"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="list_zh">
              <tr class="hh"> 
                 
                <td align="center">姓名</td>
				 
                <td align="center">性别</td>
				 
                <td align="center">年龄</td>
				 
                <td align="center">工作年限</td>
				 <!---->
                <td width="12%" align="center">更新日期</td>
                <td width="14%" align="center">查看</td>
              </tr>
<!--
EOT;
$i=0;
foreach($listdb AS $key=>$rs){
$i++;
$class=($i%2==1)?'aa':'bb';
print <<<EOT
-->
              <tr class="lt $class"> 
               
                
                <td align="center">{$rs[truename]} </td>
				 
                <td align="center">{$rs[sex]} </td>
				 
                <td align="center">{$rs[age]} 岁</td>
				 
                <td align="center">{$rs[workyear]} </td>
				 <!---->
				
                <td width="12%" align="center">$rs[posttime]</td>
                <td width="14%" align="center"><a href="$Murl/joinshow.php?id=$rs[id]" target=_blank>查看</a></td>
              </tr>
<!--
EOT;
}print <<<EOT
-->
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" id="page">
              <tr>
                <td align="center">$showpage</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
