<table width="100%" border="0" cellspacing="0" cellpadding="0" style="width:90px;float:left;">
  <tr> 
    <td align="center" valign="middle" style="line-height:40px;"> <a href="$url" target=_blank> 
      <b>$title</b></a> </td>
  </tr>
  <tr> 
    <td align="center"><a href="$url" target="_blank"><img alt="$describes" src="$img" width="80" height="30" border="0"></a></td>
  </tr>
  <tr> 
    <td align="center" style="line-height:20px;"> <font color="#990000">共 <b><font color="#FF0000">$votenum</font> 票 
      </b></font></td>
  </tr>
  <tr> 
    <td align="center" style="line-height:40px;"><a href="$Murl/vote.php?action=vote&voteId=$id" target="_blank"><u>投一票</u></a> 
      <a href="$Murl/vote.php?job=show&cid=$cid#postcomment" target="_blank"><u>评一评</u></a></td>
  </tr>
</table>