<!--
<?php
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="100" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" >
        <tr> 
          <td class="head">我收藏的信息</td>
        </tr>
        <tr> 
          <td class="middle"> 
            <table width="100%" border="0" cellspacing="1" cellpadding="3" style='TABLE-LAYOUT: fixed;WORD-WRAP: break-word'>
 
                <tr align="center" class="head_in"> 
                  <td width="53%">标 题</td>
                  <td width="13%">栏 目 </td>
                  
                <td width="13%">收藏日期</td>
                  
                
                  <td width="13%">状态</td>
                  
                <td width="8%">删除</td>
                </tr>
<!--
EOT;
foreach($listdb AS $key=>$rs){
$rs[Lurl]=get_info_url('',$rs[fid],$rs[city_id]);
print <<<EOT
-->
                <tr class='trA' onmouseover="this.className='trB'" onmouseout="this.className='trA'"> 
                  
                <td  align="left">{$rs[id]}、<a href="$rs[url]" target="_blank" title="$rs[full_title]">$rs[title]</a> 
                </td> 
                  
                  
                <td align="center"><a href="$rs[Lurl]" target="_blank">$rs[fname]</a></td>
                  
                <td align="center">$rs[ctime]</td>
                  
                 
                  <td align="center">$rs[state]/$rs[levels]</td>
                  
                <td align="center"><a href="?do=del&cid=$rs[cid]">删除</a></td>
                </tr>
<!--
EOT;
}print <<<EOT
-->
                <tr align="center"> 
                  <td colspan="6">$showpage</td>
                </tr>
 
            </table>
          </td>
        </tr><tr><td class="foot"></td></tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->