<!--
<?php
print <<<EOT
-->
<table border="0" cellspacing="1" cellpadding="3" width="100%" class="tablewidth">
     <tr align="center"> 
      <td class="head">批量操作</td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      
    <td align="center"> <br>
      <input type="button" name="Submit" value="批量生成栏目/分类目录名" onclick="window.location.href='$admin_path&action=batch&type=sort_dir'">
      <br>
      <br>
      <font color="#FF0000"><b>注意:</b></font>如果原来有目录名的话,将会被重新改写!<br>
      <br>
    </td>
    </tr>
 </table>
<!--
EOT;
?>
-->