<!--
<?php
print <<<EOT
-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td height="393" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" style="display:$hide_listpic">
        <form name="form1" method="post" action="?action=get">
          <tr> 
            <td class="head"> 
              <h3 class="L"></h3>
              <span class="TAG">欢迎使用充值系统</span> 
              <h3 class="R"></h3>
            </td>
          </tr>
          <tr> 
            <td class="middle" align="center"><img src="$webdb[www_url]/images/default/card_logo.gif">
            </td>
          </tr>
          <tr>
            <td class="middle" align="center">你当前具有{$webdb[MoneyName]}<img src="$webdb[www_url]/images/default/moneycard.gif"><b><font color="#FF0000"> 
              {$lfjdb[money]}</font></b>{$webdb[MoneyDW]}</td>
          </tr>
          <tr> 
            <td class="middle" align="center">请输入充值卡密码 
              <input type="text" name="atc_passwd">
              <input type="submit" name="Submit" value="提交">
            </td>
          </tr>
          <tr> 
            <td class="foot"> 
              <h3 class="L"></h3>
              <h3 class="R"></h3>
            </td>
          </tr>
        </form>
      </table>
      
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
