<!--
<?php
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable">
  <tr> 
    <td class="head"> 
      <h3 class="L"></h3>
      <span class="TAG">ªÿ∏¥¡Ù—‘</span> 
      <h3 class="R"></h3>
    </td>
  </tr>
  <tr> 
    <form name="form1" method="post" action="">
      <td class="middle" align="center"> 
        <textarea name="content" cols="100" rows="10">$content</textarea>
        <br>
        <input type="button" name="Submit" value="∑µªÿ" onclick="window.location.href='$FROMURL'">
        <input type="submit" name="Submit" value="ªÿ∏¥">
        <input type="hidden" name="id" value="$id">
        <input type="hidden" name="step" value="2">
        <input type="hidden" name="fid" value="$fid">
      </td>
    </form>
  </tr>
  <tr> 
    <td class="foot"> 
      <h3 class="L"></h3>
      <h3 class="R"></h3>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->