.comment_title{
	border:#DDD solid 1px;
	border-bottom:0;
	background:url(nestbg.gif) left bottom repeat-x;
}
.comment_title .title{
	line-height:40px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
}
.comment_title .note{
	text-align:center;
	padding-bottom:15px;
	color:#f60;
}
.MainContainer .side{
	width:280px;
	padding-left:10px;
}
.MainContainer .dragTable{
	border:#DBDBDB solid 1px;
}
.MainContainer .dragTable .head{
	height:30px;
	background:url(nestbg.gif) left bottom repeat-x;
	line-height:30px;
}
.MainContainer .dragTable .head .TAG{
	float:left;
	padding-left:25px;
	background:url(narray.gif) 8px 11px no-repeat;
	font-size:14px;
	font-weight:bold;
}
.MainContainer .dragTable .cont{
	padding:10px;
}
/*
*∆¿¬€¡–±Ì
*/
.MainContainer .coment{
	margin-bottom:5px;
	border:#DDD dotted 1px;
}
.MainContainer .coment .img{
	width:60px;	
	padding:5px;
	border-right:#DDD dotted 1px;
}
.MainContainer .coment .img a{
	display:block;
	border:#DDD solid 1px;
	padding:1px;
}
.MainContainer .coment .conta{
	border-bottom:#DDD dotted 1px;
	padding:3px 5px 2px 10px;
	line-height:18px;
	height:45px;
}
.MainContainer .coment .infoa{
	line-height:25px;
	padding-left:10px;
}
.MainContainer .comtentpage{
	line-height:30px;
	text-align:center;	
}
.MainContainer .comtentpage a{
	border:#DDD solid 1px;
	padding:3px 5px 2px 5px;
}
.MainContainer .main .tdL{
	width:80px;
	line-height:25px;
	text-align:right;
	padding-right:10px;
}
.MainContainer .main .tdR{
	padding-top:5px;
}
.MainContainer .side .list{
	height:22px;
	line-height:22px;
	padding-left:15px;
	background:url(nd0.gif) 3px 9px no-repeat;
}