<!--
<?php
print <<<EOT
--> 
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/yellow/shop_index.css">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainContainer">
  <tr>
  	<td class="SideL">
    	<div class="shopsort">
        	<div class="head"><span>全部商品分类</span></div>
            <div class="cont">
<!--
EOT;
$j=0;
foreach($Fid_db[0] AS $key=>$name){
$j++;
$name=get_word($name,20);
print <<<EOT
-->
				
          <div class="bigsort list$j"><a href="list.php?fid=$key" target="_blank">$name</a></div>
                
          <div class="sort"> 
            <!--
EOT;
foreach($Fid_db[$key] AS $fid=>$name ){
$name=get_word($name,24);
print <<<EOT
-->
            <a href="list.php?fid=$fid" target="_blank">$name</a> | 
            <!--
EOT;
}print <<<EOT
-->
          </div>
<!--
EOT;
}print <<<EOT
-->
            </div>
        </div>
<SCRIPT LANGUAGE="JavaScript">
<!--//
function ShowTabs(ID,FID,EID)
{
	for (i=FID;i<EID;i++)
	{
		if(i == ID)
		{
			document.getElementById("Mune" + i).className="choose";
			document.getElementById("Tab" + i).style.display="";
		}
		else
		{
			document.getElementById("Mune" + i).className="";
			document.getElementById("Tab" + i).style.display="none";
		}
	}
}
//-->
</SCRIPT>
        <div class="shopTopcontainer mt10">
        	<div class="head"><span>$label[shop_tt8]</span></div>
            <div class="selectdisplay">
            	<div class="choose" id=Mune1 onclick="ShowTabs(1,1,4)"><span>$label[shop_tt9]</span></div>
                <div id=Mune2 onclick="ShowTabs(2,1,4)"><span>$label[shop_tt10]</span></div>
                <div id=Mune3 onclick="ShowTabs(3,1,4)"><span>$label[shop_tt11]</span></div>
            </div>
            <div id="Tab1" class="showcont">
                $label[shop_b1]
				 $label[shop_x1]
                
            </div>
            
        <div id="Tab2" class="showcont" style="display:none;"> 
          $label[shop_x2]
            </div>
            
        <div id="Tab3" class="showcont" style="display:none;"> 
           $label[shop_x3]
            </div>
        </div>
    </td>
    <td class="SideC">  
    	<div class="slidecontainer">$label[shop_rollpic]</div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="shopTheNew mt10">
          <tr>
            <td class="head"><span class="L">$label[shop_tt5]</span><span class="R">$label[shop_m1]</span></td>
          </tr>
          <tr>
            <td class="cont">
            	$label[shop_hot]
                
            </td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="shopTheNew mt10">
          <tr>
            <td class="head head2"><span class="L">$label[shop_tt7]</span><span class="R">$label[shop_m2]</span></td>
          </tr>
          <tr>
            <td class="cont">
            	$label[shop_new]
            </td>
          </tr>
        </table>
    </td>
    <td class="SideR">   
    	<div class="shopnews">
        	<div class="head"><span>$label[shop_tt1]</span></div>
            <div class="cont">
            	$label[shop_news]
                
            </div>
        </div> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="sidecontainer mt10">
          <tr>
            <td class="head"><span class="L">$label[shop_tt2]</span><span class="R">$label[shop_m3]</span></td>
          </tr>
          <tr>
            <td class="cont">
                $label[shop_a1]
                
                 
				 $label[shop_a2]
            </td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="brandcontainer mt10">
          <tr>
            <td class="head"><span class="L">$label[shop_tt3]</span><span class="R">$label[shop_m4]</span></td>
          </tr>
          <tr>
            <td class="cont"> $label[shop_a3]
            	
            	 
            </td>
          </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="notecontainer mt10">
          <tr>
            <td class="head"><span class="L">$label[shop_tt4]</span><span class="R">$label[shop_m5]</span></td>
          </tr>
          <tr>
            <td class="cont">$label[shop_a4]
            
                 
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->