/*
*官方团购首页
*/
.shoptgad{
	height:112px;
}
.shoptgad .ad1{
	width:275px;
}
.shoptgad .ad2{
	width:375px;
	padding:0 10px 0 10px;
}
.shoptgad .ad3{
	width:310px;
}
.MainContainer{
	clear:both;
	margin-top:15px;
}
.MainContainer .Main{
	width:730px;
	padding-right:10px;
}
.MainContainer .Side{
	width:240px;
}
.hotshoptg{
	background:url(stgcont.gif) left top no-repeat;
	margin-bottom:15px;
}
.hotshoptg .list1,.hotshoptg .list2,.hotshoptg .list3{
	height:60px;
}
.hotshoptg .list1 span,.hotshoptg .list2 span,.hotshoptg .list3 span{
	display:none;
}
.hotshoptg .list1{
	background:url(stgn1.gif) 15px 10px no-repeat;
}
.hotshoptg .list2{
	background:url(stgn2.gif) 15px 10px no-repeat;
}
.hotshoptg .list3{
	background:url(stgn3.gif) 15px 10px no-repeat;
}
.hotshoptg .about{
	font-family: "黑体";
	font-size: 30px;
	font-weight:bold;
	color:#000;
	height:245px;
	padding:0 40px 0 60px;
	overflow:hidden;
	line-height:35px;
}
.hotshoptg .about a{
	font-size: 30px;
	color:#000;
}
.hotshoptg .about a:hover{
	text-decoration:none;
}
.hotshoptg .about span{
	color:red;
}
.hotshoptg .moreinfo{
	margin-top:10px;
	position:relative;
	background:url(stgcont.gif) left bottom no-repeat;
}
.hotshoptg .moreinfo .left{
	width:240px;
}
.hotshoptg .moreinfo .actionspace{
	height:150px;
}
.hotshoptg .moreinfo .action{
	width:290px;
	height:150px;
	position:absolute;
	background:url(stgbutter.gif) left 1px no-repeat;
	margin-left:-8px;
}
.hotshoptg .moreinfo .action .butter{
	height:80px;
	overflow:hidden;
}
.hotshoptg .moreinfo .action .butter span{
	display:block;
	float:left;
}
.hotshoptg .moreinfo .action .butter span.price{
	width:110px;
	height:80px;
	overflow:hidden;
	padding:0 0  0 10px;
	line-height:80px;
	font-family: "黑体";
	font-size: 30px;
	font-weight:bold;
	color:#fff;
}
.hotshoptg .moreinfo .action .butter span.cg{
	padding:8px 0  0 5px;
}
.hotshoptg .moreinfo .action .Offer{
	height:70px;
	width:210px;	
	border:#60CA80 solid 1px;
	border-top:0;
	background:#CFF6DA;
	margin-left:25px;
}
.hotshoptg .moreinfo .action .Offer div{
	height:40px;
	padding-top:15px;
	width:69px;	
	overflow:hidden;
	float:left;
}
.hotshoptg .moreinfo .action .Offer div span{
	display:block;
	text-align:center;
	line-height:20px;
	color:#000;
	font-size:14px;
	font-weight:bold;
	font-family: "黑体";
}
.hotshoptg .moreinfo .action .Offer div.red span{
	color:red;
}
.hotshoptg .moreinfo .timeover{
	width:210px;
	height:70px;
	border:#FBD686 solid 1px;
	margin:10px 0 0 16px;
	background:#FFF8E8;
}
.hotshoptg .moreinfo .timeover div{
	float:left;
}
.hotshoptg .moreinfo .timeover div.word{
	width:170px;
	height:40px;
	padding-top:15px;
	text-align:center;
	line-height:20px;
	overflow:hidden;
	font-size:14px;
}
.hotshoptg .moreinfo .timeover div.pic{
	padding-top:10px;
}
.hotshoptg .moreinfo .Status{
	width:210px;
	height:125px;
	border:#FBD686 solid 1px;
	margin:10px 0 15px 16px;
	background:#FFF8E8;
}
.hotshoptg .moreinfo .Status .now{
	padding:15px 0 5px 0;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	font-family: "黑体";
}
.hotshoptg .moreinfo .Status .now span{
	color:#f60;
}
.hotshoptg .moreinfo .Status .red{
	height:60px;
	line-height:30px;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:red;
	padding:0 10px 0 10px;
	overflow:hidden;
	font-family: "黑体";
}
.hotshoptg .moreinfo .Status .red img{
	vertical-align:middle;
	margin-right:5px;
}
.hotshoptg .moreinfo .Status .m{
	padding:0 10px 0 10px;
	height:25px;
	line-height:25px;
	color:#777;
	overflow:hidden;
}
.hotshoptg  .right .img{
	height:300px;
	overflow:hidden;
	padding-left:10px;
}
.hotshoptg  .right .title{
	height:35px;
	overflow:hidden;
	padding:0 20px 0 50px;
	line-height:35px;
	background:url(stgtitle.gif) 5px top no-repeat;
	margin-top:5px;
}
.hotshoptg  .right .Address{
	height:25px;
	overflow:hidden;
	padding:0 10px 0 10px;
	line-height:25px;
	background:#efefef;
	margin:5px 30px 20px 10px;
}
.hotshoptg  .right .Address span{
	font-weight:bold;
}
.shoptgsoft{
	padding-bottom:15px;
}
.shoptgsoft .head,.notecontainer .head{
	background:url(stgcontr.gif) center top no-repeat;
	height:40px;
	line-height:40px;
	padding:0 15px 0 20px;
}
.shoptgsoft .head .fl,.notecontainer .head .fl{
	float:left;
	font-size:14px;
	font-weight:bold;
}
.notecontainer .head .fr{
	float:right;
}
.shoptgsoft .cont,.notecontainer .cont{
	background:url(stgcontrm.gif) center top repeat-y;
	padding:0 5px 0 5px;
}
.shoptgsoft dl dt{
	height:25px;
	background:#FFF8E8;
	line-height:25px;
	padding-left:15px;
	border-top:#FBD686 solid 1px;
	border-bottom:#FBD686 solid 1px;
}
.shoptgsoft dl dd{
	padding:5px 5px 5px 10px;
	line-height:20px;
}
.shoptgsoft .foot , .notecontainer .foot{
	background:url(stgcontr.gif) center bottom no-repeat;
}
.notecontainer .list{
	height:25px;
	line-height:25px;
	background:url(gift_array.gif) 8px 11px no-repeat;
	padding:0 5px 0 20px;
	overflow:hidden;
	border-bottom:#FBD686 dotted 1px;
}