<!--
<?php
$www_url=str_replace("http://","",$webdb[www_url]);
print <<<EOT
-->
<!--- 营销模块改动部分  -->
 
<div id="bottom"></div>
<!--- 营销模块改动部分  -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" id="footer">
  <tr> 
    <td align="center">$webdb[copyright]<br>
      Copyright@{$www_url} all rights reserved <a href="http://www.miibeian.gov.cn" target="_blank">{$webdb[miibeian_gov_cn]}</a> 
      <br>
      Powered by <a href="http://www.qibosoft.com" target="_blank">qibosoft {$qibosoft_Edition}</a> 
      Code &copy; 2003-10 <a href="http://bbs.qibosoft.com/" target="_blank">qibosoft</a> $speed_totaltime
    </td>
  </tr>
</table>
<SCRIPT LANGUAGE="JavaScript">
<!--//目的是为了做风格方便
document.write('</div>');
//-->
</SCRIPT>
<SCRIPT LANGUAGE="JavaScript">
<!--
clickEdit.init();
//-->
</SCRIPT><SCRIPT LANGUAGE="JavaScript" src="$webdb[www_url]/hack/count.php?fid=1"></SCRIPT>
<!--营销模块改动部分
EOT;
if($webdb[ifShowPwAd]){print <<<EOT
-->
<script language="JavaScript" src="http://init.phpwind.com/init_p8.php?sitehash={$webdb[sitehash]}"></script>
<!--营销模块改动部分
EOT;
}print <<<EOT
-->
<!--CNZZ站点统计
EOT;
if($webdb[cnzz_open]&&$webdb[cnzz_id]){print <<<EOT
-->
<div style="display:none"><script src='http://pw.cnzz.com/c.php?id=$webdb[cnzz_id]' language='JavaScript' charset='gb2312'></script></div>
<!--CNZZ站点统计
EOT;
}print <<<EOT
-->
</body>
</html>
<!--
EOT;
?>
-->