<!--
<?php
print <<<EOT
--> 
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/deepblue/main.css">
<div class="MainContainer1">
	<div class="side">
    	<div class="slidecont">{$label[deepblue_mainslide]}</div>
        <div class="newcontainter">
        	<div class="head">{$label[deepblue_mainh1]}</div>
            <div class="cont" id="Tab1">
            	{$label[deepblue_maint1]}
            </div>
            <div class="cont" id="Tab2">
            	{$label[deepblue_maint2]}
            </div>
        </div>
<SCRIPT LANGUAGE="JavaScript">ShowTab(1,1,3);</SCRIPT>
    </div>
    <div class="main">
    	<div class="TodayTop">
        	<div class="head">{$label[deepblue_mainh2]}</div>
            <div class="cont">{$label[deepblue_maint3]}</div>
        </div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="undertoday">
          <tr>
            <td class="contl">
            	<div class="cont1a">{$label[deepblue_maint4]}</div>
                <div class="cont1b">{$label[deepblue_maint4b]}</div>
            </td>
            <td class="contr">
            	<div class="tcont1">
                	<div class="head">{$label[deepblue_mainh3]}</div>
                    <div class="cont">
                    	<div class="c1">{$label[deepblue_maint5]}</div>
                        <div class="c2">{$label[deepblue_maint6]}</div>
                    </div>
                </div>
                <div class="tcont2">
                	<div class="head">{$label[deepblue_mainh4]}</div>
                    <div class="cont">
                    	{$label[deepblue_maint7]}
                    </div>
                </div>
            </td>
          </tr>
        </table>
    </div>
</div>
<div class="MainContainer2">
	<div class="hotsorts">
    	<div class="head">{$label[deepblue_mainh5]}</div>
        <div class="cont">
        	{$label[deepblue_maint8]}
        </div>
    </div>
    <div class="adcont">{$label[deepblue_mad2]}</div>
</div>
<div class="MainContainer3">
	<div class="sidecontl">
    	<div class="head">{$label[deepblue_mainh6]}</div>
        <div class="cont">
        	<div class="c1">
        	{$label[deepblue_maint9]}
            </div>
            <div class="c2">
        	{$label[deepblue_maint91]}
            </div>
        </div>
    </div>
    <div class="sidecontc">
    	<div class="head">{$label[deepblue_mainh7]}</div>
		<div class="cont" id="Tab3">
            	{$label[deepblue_maint10]}
        </div>
        <div class="cont" id="Tab4">
            {$label[deepblue_maint11]}
        </div>
        <div class="cont" id="Tab5">
            {$label[deepblue_maint12]}
        </div>
        <div class="cont" id="Tab6">
            {$label[deepblue_maint13]}
        </div>
<SCRIPT LANGUAGE="JavaScript">ShowTab(3,3,7);</SCRIPT>
    </div>
    <div class="sidecontr">
    	<div class="head">{$label[deepblue_mainh8]}</div>
        <div class="cont" id="Tab7">
            {$label[deepblue_maint14]}
        </div>
        <div class="cont" id="Tab8">
            {$label[deepblue_maint15]}
        </div>
<SCRIPT LANGUAGE="JavaScript">ShowTab(7,7,9);</SCRIPT>    
    </div>
</div>
<div class="MainContainer3">
	<div class="sidecontl">
    	<div class="head">{$label[deepblue_mainh9]}</div>
        <div class="cont">
        	{$label[deepblue_maint16]}
        </div>
    </div>
    <div class="sidecontc">
    	<div class="head">{$label[deepblue_mainh10]}</div>
		<div class="cont" id="Tab9">
            	{$label[deepblue_maint17]}
        </div>
        <div class="cont" id="Tab10">
            {$label[deepblue_maint18]}
        </div>
        <div class="cont" id="Tab11">
            {$label[deepblue_maint19]}
        </div>
<SCRIPT LANGUAGE="JavaScript">ShowTab(9,9,12);</SCRIPT>
    </div>
    <div class="sidecontr couponcont">
    	<div class="head">{$label[deepblue_mainh11]}</div>
        <div class="cont">
            {$label[deepblue_maint20]}
        </div>    
    </div>
</div>
<div class="bannercont">{$label[deepblue_mainad3]}</div>
<div class="MainContainer3 MainContainer5">
	<div class="sidecontl">
    	<div class="head">{$label[deepblue_mainh12]}</div>
        <div class="cont">
        	{$label[deepblue_maint21]}
        </div>
    </div>
    <div class="sidecontc">
    	<div class="head">{$label[deepblue_mainh13]}</div>
		<div class="cont" id="Tab12">
            	{$label[deepblue_maint22]}
        </div>
        <div class="cont" id="Tab13">
            {$label[deepblue_maint23]}
        </div>
        <div class="cont" id="Tab14">
            {$label[deepblue_maint24]}
        </div>
<SCRIPT LANGUAGE="JavaScript">ShowTab(12,12,15);</SCRIPT>
    </div>
    <div class="topshop">
    	<div class="head">
			<span class="tag">{$label[deepblue_mainh14]}</span>
		</div>
        <div class="cont">
            {$label[deepblue_maint25]}
        </div>
        <div class="shopad">{$label[deepblue_mainad4]}</div>    
    </div>
</div>
<div class="MainContainer6">
	<div class="hrcont1">
    	<div class="head">{$label[deepblue_mainh15]}</div>
        <div class="cont">{$label[deepblue_maint25b]}</div>
    </div>
    <div class="hrcont2">
    	<div class="head">{$label[deepblue_mainh16]}</div>
        <div class="cont" id="Tab15">
            {$label[deepblue_maint26]}
        </div>
        <div class="cont" id="Tab16">
            {$label[deepblue_maint27]}
        </div>
<SCRIPT LANGUAGE="JavaScript">ShowTab(15,15,17);</SCRIPT>
    </div>
    <div class="pamincontout">
    	<div class="paminin">
        	<div class="list1">{$label[deepblue_mainh17]}</div>
            <div class="list2">{$label[deepblue_mainh18]}</div>
            <div class="listad">$label[deepblue_mainad5]</div>	
        </div>
        <div class="life_job1">{$label[deepblue_mainh19]}</div>
        <div class="life_job2"> {$label[deepblue_mainh20]}</div>
    </div>
</div>
<div class="mainadf">
	<div class="mad">$label[deepblue_mainad6]</div>
    <div class="sad">$label[deepblue_mainad7]</div>
</div>
<div class="MainContainer7">
	<div class="lifebaibao">
    	<div class="head">{$label[deepblue_mainh21]}</div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td class="info">{$label[deepblue_mainh22]}</td>
            <td class="tel">{$label[deepblue_mainh23]}</td>
          </tr>
        </table>
    </div>
    <div class="servercenter">
    	<div class="head">{$label[deepblue_mainh24]}
        	<span class="tag">客服中心</span>
        </div>
        <div class="cont">{$label[deepblue_mainh25]}</div>
    </div>
</div>
<div id="FrendLink">
	<div class="head">{$label[deepblue_mainh26]}</div>
    <div class="cont">
    	<div class="piclink">
<!--
EOT;
if($friendlinkDB[1]&&$friendlink_DB[$city_id][1]){
$array = $friendlinkDB[1]+$friendlink_DB[$city_id][1];
}elseif($friendlinkDB[1]){
$array = $friendlinkDB[1];
}else{
$array = $friendlink_DB[$city_id][1];
}
foreach($array AS $rs){print <<<EOT
-->
		
        	<a href="$rs[url]" title="$rs[name] $rs[descrip]" target="_blank"><img src="$rs[logo]" onerror="this.src='$webdb[www_url]/images/default/nopic.jpg'" width="88" height="31"/></a>
<!--
EOT;
}print <<<EOT
-->
        </div>
        <div class="wordlink">
<!--
EOT;
if($friendlinkDB[0]&&$friendlink_DB[$city_id][0]){
$array = $friendlinkDB[0]+$friendlink_DB[$city_id][0];
}elseif($friendlinkDB[0]){
$array = $friendlinkDB[0];
}else{
$array = $friendlink_DB[$city_id][0];
}
foreach($array AS $rs){print <<<EOT
-->
		
        	<a href="$rs[url]" title="$rs[descrip]" target="_blank">$rs[name]</a>
<!--
EOT;
}print <<<EOT
-->
        </div>
       
    </div>
</div>
<!--
EOT;
?>
-->