<!--
<?php
print <<<EOT
--> 
 
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <form name="form1" method="post" action="index.php?lfj=$lfj&action=$job">
    <tr class="head"> 
      <td colspan="2">

	  删除风格
	  </td>
    </tr>
    <tr bgcolor="#FFFFFF"> 
      <td width="35%">请选择一个要删除的风格:</td>
      <td width="65%"> 
        $style_select
      </td>
    </tr>
    <tr align="center" bgcolor="#FFFFFF"> 
      <td colspan="2"> 
        <input type="hidden" name="id" value="$id">
        <input type="submit" name="Submit" value="确认删除">
      </td>
    </tr>
  </form>
</table>
<!--
EOT;
?>
-->