<!--
<?php
print <<<EOT
--> 
<table id="top_menu" width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
 
  <tr> 
    <td align="center"> 
      <input type="button" name="Submit22" value="添加风格" onClick="window.location=('index.php?lfj=style&job=addstyle')">
      　　 
      <input type="button" name="Submit2" value="修改风格样式" onClick="window.location=('index.php?lfj=style&job=editstyle')">
      　
      <input type="button" name="Submit24" value="修改风格模板" onClick="window.location=('index.php?lfj=style&job=edittpl')">
      　 
      <input type="button" name="Submit23" value="删除风格" onClick="window.location=('index.php?lfj=style&job=deletestyle')">
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->