<!--
<?php
print <<<EOT
-->
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/light_blue/main.css">
<SCRIPT src="$webdb[www_url]/images/light_blue/showpic.js" type=text/javascript></SCRIPT>
<div class="bannerad">{$label[light_blue_mainad1]}</div>
<div class="MainContainer1">
	<div class="Main">
    	<div id="ifocus">
        	{$label[light_blue_mainslide]}
        </div>
        <div class="HotArtical">
        	{$label[light_blue_maint1]}
            {$label[light_blue_maint2]}
        </div>
        <div class="FenlieCont">
        	<div class="head">
            	<div class="tag">分类信息</div>
                <div onmouseover="ShowTab(1,1,4)" id="Span1">推荐信息</div>
                <div onmouseover="ShowTab(2,1,4)" id="Span2">最新信息</div>
                <div onmouseover="ShowTab(3,1,4)" id="Span3">热门信息</div>
            </div>
            <div class="cont" id="Tab1">
            	{$label[light_blue_maint3]}
            </div>
            <div class="cont" id="Tab2">
            	{$label[light_blue_maint4]}
            </div>
            <div class="cont" id="Tab3">
            	{$label[light_blue_maint5]}
            </div>
<SCRIPT LANGUAGE="JavaScript">ShowTab(1,1,4);</SCRIPT>
        </div>
    </div>
    <div class="Side">
    	<div class="sidecont bmserver">
        	<div class="head"><span class="tag">便民服务</span></div>
            <div class="cont">
            	{$label[light_blue_maint6]}
            </div>
        </div>
        <div class="sideradcont">
        	<div class="cont">
            	<div class="word">{$label[light_blue_maint7]}</div>
                <div class="img">{$label[light_blue_maint8]}</div>
                <div class="word">{$label[light_blue_maint9]}</div>
            </div>
        </div>
    </div>
</div>
<div class="MainAdCont">
	<div class="Main">{$label[light_blue_mainad2]}</div>
    <div class="Side">{$label[light_blue_mainad3]}</div>
</div>
<div class="MainContainer2">
	<div class="Main">
    	<div class="sidecont housecont">
        	<div class="head">
            	<div class="tag">房产信息</div>
                <div onmouseover="ShowTab(4,4,7)" id="Span4">楼盘信息</div>
                <div onmouseover="ShowTab(5,4,7)" id="Span5">出售信息</div>
                <div onmouseover="ShowTab(6,4,7)" id="Span6">出租信息</div>
                <div class="more"><a href="./house/">更多&gt;&gt;</a></div>
            </div>
            <div class="cont" id="Tab4">
            	{$label[light_blue_maint10]}
            </div>
            <div class="cont" id="Tab5">
            	{$label[light_blue_maint11]}
            </div>
            <div class="cont" id="Tab6">
            	{$label[light_blue_maint12]}
            </div>
<SCRIPT LANGUAGE="JavaScript">ShowTab(4,4,7);</SCRIPT>
        </div>
    </div>
    <div class="Side">
    	<div class="sidecont Agentcont">
        	<div class="head"><span class="tag">推荐经纪人</span><span class="more"><a href="./house/list.php?fid=6">更多&gt;&gt;</a></span></div>
            <div class="cont">
            	{$label[light_blue_maint13]}
            </div>
        </div>
    </div>
</div>
<div class="MainContainer2">
	<div class="Main">
    	<div class="sidecont housecont">
        	<div class="head">
            	<div class="tag">商家黄页</div>
                <div onmouseover="ShowTab(7,7,10)" id="Span7">最新商家</div>
                <div onmouseover="ShowTab(8,7,10)" id="Span8">推荐商家</div>
                <div onmouseover="ShowTab(9,7,10)" id="Span9">热门商家</div>
                <div class="more"><a href="./hy/">更多&gt;&gt;</a></div>
            </div>
            <div class="cont" id="Tab7">
            	{$label[light_blue_maint14]}
            </div>
            <div class="cont" id="Tab8">
            	{$label[light_blue_maint15]}
            </div>
            <div class="cont" id="Tab9">
            	{$label[light_blue_maint16]}
            </div>
<SCRIPT LANGUAGE="JavaScript">ShowTab(7,7,10);</SCRIPT>
        </div>
    </div>
    <div class="Side">
    	<div class="sidecont Couponcont">
        	<div class="head"><span class="tag">优惠券</span><span class="more"><a href="./coupon/">更多&gt;&gt;</a></span></div>
            <div class="cont">
            	{$label[light_blue_maint17]}
            </div>
        </div>
    </div>
</div>
<div class="MainAdCont">
	<div class="Main">{$label[light_blue_mainad4]}</div>
    <div class="Side">{$label[light_blue_mainad5]}</div>
</div>
<div class="MainContainer3">
	<div class="SideL">
    	<div class="msidecont Shoptgcont">
        	<div class="head"><div class="tag"><span>团购进行时...</span></div><div class="more"><a href="./shoptg/">更多&gt;&gt;</a></div></div>
            <div class="cont">
            	{$label[light_blue_maint18]}
            </div>
        </div>
    </div>
    <div class="SideC">
    	<div class="sidecont Tgcont">
        	<div class="head">
            	<div class="tag">团购信息</div>
                <div onmouseover="ShowTab(10,10,13)" id="Span10">最新团购</div>
                <div onmouseover="ShowTab(11,10,13)" id="Span11">推荐团购</div>
                <div onmouseover="ShowTab(12,10,13)" id="Span12">热门团购</div>
                <div class="more"><a href="./tg/">更多&gt;&gt;</a></div>
            </div>
            <div class="cont" id="Tab10">
            	{$label[light_blue_maint19]}
            </div>
            <div class="cont" id="Tab11">
            	{$label[light_blue_maint20]}
            </div>
            <div class="cont" id="Tab12">
            	{$label[light_blue_maint21]}
            </div>
<SCRIPT LANGUAGE="JavaScript">ShowTab(10,10,13);</SCRIPT>
        </div>
    </div>
    <div class="Side">
    	<div class="sidecont Topshop">
        	<div class="head"><span class="tag">热卖排行</span><span class="more"><a href="./shop/">更多&gt;&gt;</a></span></div>
            <div class="cont">
            	{$label[light_blue_maint22]}
            </div>
        </div>
    </div>
</div>
<div class="MainContainer3">
	<div class="SideL">
    	<div class="msidecont Hrcont1">
        	<div class="head"><div class="tag"><span>精英人才</span></div><div class="more"><a href="./hr/">更多&gt;&gt;</a></div></div>
            <div class="cont">
            	{$label[light_blue_maint23]}
            </div>
        </div>
    </div>
    <div class="SideC">
    	<div class="msidecont Hrcont2">
        	<div class="head"><div class="tag"><span>人才招聘</span></div><div class="more"><a href="./hr/">更多&gt;&gt;</a></div></div>
            <div class="cont">
            	<div class="lad">
                	{$label[light_blue_maint24]}
                    {$label[light_blue_maint25]}
                    {$label[light_blue_maint26]}
                </div>
                <div class="rword">
                	{$label[light_blue_maint27]}
                </div>
            </div>
        </div>
    </div>
    <div class="Side">
    	<div class="Hrcont3">
            <div class="cont">
            	<div class="img">{$label[light_blue_maint28]}</div>
                <div class="word">{$label[light_blue_maint28a]}</div>
            </div>
        </div>
        <div class="Hrcont4">
            {$label[light_blue_maint29]}
        </div>
        <div class="Hrcont5">
            {$label[light_blue_maint30]}
        </div>
    </div>
</div>
<div class="MainAdCont">
	<div class="Main">{$label[light_blue_mainad6]}</div>
    <div class="Side">{$label[light_blue_mainad7]}</div>
</div>
<div class="MainContainer4">
	<div class="Main">
    	<div class="msidecont BmTelphone">
        	<div class="head"><div class="tag"><span>便民电话</span></div><div class="more">想让您的电话显示在这里吗?名额有限哦,赶快联系客服吧!</div></div>
            <div class="cont">
            	{$label[light_blue_maint31]}
            </div>
        </div>
    </div>
    <div class="Side">
    	<div class="sidecont ServerCenter">
        	<div class="head"><span class="tag">客服中心</span></div>
            <div class="cont">
            	{$label[light_blue_maint32]}
            </div>
        </div>
    </div>
</div>
<div id="FrendLink" class="sidecont">
	<div class="head">
    	{$label[light_blue_flinkh]}    	    
   </div>
   <div class="cont">
    	<div class="piclink">
<!--
EOT;
if($friendlinkDB[1]&&$friendlink_DB[$city_id][1]){
$array = $friendlinkDB[1]+$friendlink_DB[$city_id][1];
}elseif($friendlinkDB[1]){
$array = $friendlinkDB[1];
}else{
$array = $friendlink_DB[$city_id][1];
}
foreach($array AS $rs){print <<<EOT
-->
		
        	<a href="$rs[url]" title="$rs[name] $rs[descrip]" target="_blank"><img src="$rs[logo]" onerror="this.src='$webdb[www_url]/images/default/nopic.jpg'" width="88" height="31"/></a>
<!--
EOT;
}print <<<EOT
-->
        </div>
        <div class="wordlink">
<!--
EOT;
if($friendlinkDB[0]&&$friendlink_DB[$city_id][0]){
$array = $friendlinkDB[0]+$friendlink_DB[$city_id][0];
}elseif($friendlinkDB[0]){
$array = $friendlinkDB[0];
}else{
$array = $friendlink_DB[$city_id][0];
}
foreach($array AS $rs){print <<<EOT
-->
		
        	<a href="$rs[url]" title="$rs[descrip]" target="_blank">$rs[name]</a>
<!--
EOT;
}print <<<EOT
-->
        </div>       
    </div>
</div>
<!--
EOT;
?>
-->