<!--
<?php
print <<<EOT
--> 
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/v7/vote/vote.css">
<table width="100%" border="0" cellspacing="1" cellpadding="1" align="center" class="MainTable">
  <tr> 
    <td width="100%" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable"   id="votepag2">
        <tr> 
          <td class="head">
            <h3 class="L"></h3>
            <span class="TAG">查看投票</span>
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle"> 
             	 <table border="0" cellspacing="0" cellpadding="0">
	  <tr>
		<td class="choose">$shows</td>
	  </tr>
	  <tr>
		<td class="about">$about</td>
	  </tr>
	</table></td>
        </tr>
        <tr>
          <td class="foot">
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <!--
EOT;
if($ifcomment){
print <<<EOT
-->
      <a name="postcomment"></a> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable" id="commentTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">评论</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle"> 
            <div id="comment"></div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr> 
                <td width="16%"><span class="L">称　　呼:</span><span class="R"></span></td>
                <td width="84%"><span class="R"> 
                  <input type="text" name="textfield2" id="comment_username" value="$lfjid">
                  </span></td>
              </tr>
              <!--
EOT;
if(!$web_admin){
print <<<EOT
-->
              <tr> 
                <td width="16%"><span class="L">验 证 码:</span></td>
                <td width="84%"> 
                  <input id="yzImgNum" type="text" name="yzimg" size="8">
<SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<img border="0" name="imageField" onclick="this.src=this.src+Math.random();" src="$webdb[www_url]/do/yzimg.php?'+Math.random()+'">');
//-->
</SCRIPT>
                </td>
              </tr>
              <!--
EOT;
}
print <<<EOT
-->
              <tr> 
                <td width="16%"><span class="L">内　　容:</span></td>
                <td width="84%"><span class="R"> 
                  <textarea name="textfield" cols="50" rows="5" id="comment_content" onKeyDown="quickpost(event)"></textarea>
                  </span></td>
              </tr>
              <tr> 
                <td width="16%"> 
                  <script language="JavaScript">
<!--

getcomment("vote_comment_ajax.php?cid=$cid");
cnt = 0;
function quickpost(event)
{
	if((event.ctrlKey && event.keyCode == 13)||(event.altKey && event.keyCode == 83))
	{
		cnt++;
		if (cnt==1){
			postcomment('vote_comment_ajax.php?action=post&cid=$cid')
		}else{
			alert('内容正在提交...');
		}
	}	
}
//-->
</script>
                </td>
                <td width="84%"><span class="R"> 
                  <input type="button" id="comment_submit" name="Submit" value="提交" onClick="postcomment('vote_comment_ajax.php?action=post&cid=$cid','1')" class="button">
                  </span></td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      <!--
EOT;
}
print <<<EOT
-->
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
