<html>
<head>
<title>后台管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<link rel="stylesheet" href="images/map.css" type="text/css">
</head>
<body> 
<!--
<?php
print <<<EOT
-->
<div class="baseinfocont">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td>
        	<div>文章共有：<span>{$newsnum}</span> 篇</div>
            <div>分类信息共有：<span>{$fenlienum}</span> 篇</div>
            <div>会员共有：<span>{$Member}</span> 位</div>
            <div>职位共有：<span>{$hrnum}</span> 个</div>
        </td>
        <td>
        	<div>商品共有：<span>{$shopnum}</span> 件</div>
            <div>团购信息：<span>{$tuangounum}</span> 条</div>
            <div>促销信息：<span>{$couponnum}</span> 条</div>
            <div>礼品信息：<span>{$giftnum}</span> 条</div>
        </td>
      </tr>
    </table>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="maintable">
  <tr>
    <td class="head">欢迎使用齐博CMS建站系统</td>
  </tr>
  <tr>
    <td class="cont">
    	<table border="0" cellspacing="0" cellpadding="0" class="sidetable">
          <tr>
            <td class="tdL">
                <div class="sidecont">
                    <div class="sh">使用技巧</div>            
                    <div class="sc">
                        1、如要对首页进行重大修改，请手工修改模板文件/template/default/main.htm<br>
                        2、如果忘记密码不能进入后台的话，请手工修改文件/admin/global.php,查找\$ForceEnter=0;改为\$ForceEnter=1;即能进入后台,重新设置管理员密码<br>
                        3、数据库配置文件是/data/mysql_config.php,更换数据库帐号后,请修改此文件<br>
                        4、要想更换创始人帐号,请修改文件/data/admin.php<br>
                        5、网站在使用过程中,如果更新添加了数据,务必经常备份网站数据库.<br>
                        6、如有更多不懂的问题，请上官方论坛提问。
                    </div>
                </div>
            </td>
            <td class="tdR">
                <div class="sidecont">
                    <div class="sh">新手入门指南</div>            
                    <div class="sc">
                        1、要安装更多的网站风格,<a href="http://bbs.qibosoft.com/thread-forum-fid-10323.htm" target="_blank">请点击</a><br>
                        2、要升级程序,<a href="http://bbs.qibosoft.com/thread-forum-fid-10313.htm" target="_blank">请点击</a><br>
                        3、要学习采集网站内容数据,<a href="http://bbs.qibosoft.com/thread-forum-fid-10324.htm" target="_blank">请点击</a><br>
                        4、遇到更多的问题,无法解决,<a href="http://bbs.qibosoft.com/thread-forum-fid-10332.htm" target="_blank">请点击</a>
                    </div>
                </div>
                <div class="sidecont mt5">
                    <div class="sh">官方重要公告</div>            
                    <div class="sc">
                        <marquee direction="up" scrollamount="1" height="35" onmouseout='if(document.all!=null){this.start()}' onmouseover='if(document.all!=null){this.stop()}'>$OfficialNotice</marquee>
                    </div>
                </div>
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="maintable">
  <tr>
    <td class="head">服务器信息</td>
  </tr>
  <tr>
    <td class="cont" style="padding:0;">
    	<table border="0" cellspacing="0" cellpadding="0" class="sidetable">
          <tr>
            <td class="sinfo">服务端信息：$systemMsg[SERVER_SOFTWARE]</td>
            <td class="sinfo">邮件模式：$systemMsg[sys_mail]</td>
          </tr>
          <tr>
            <td class="sinfo">PHP版本：$systemMsg[sysversion]</td>
            <td class="sinfo">服务器IP：$systemMsg[SERVER_ADDR]</td>
          </tr>
          <tr>
            <td class="sinfo">MYSQL版本：$systemMsg[mysqlVersion]</td>
            <td class="sinfo">服务器端口：$systemMsg[SERVER_PORT]</td>
          </tr>
          <tr>
            <td class="sinfo">是否允许文件上传：$systemMsg[file_uploads]<span help="1">（如果不允许可把php.ini里的file_uploads=Off改成file_uploads=On，重启服务器即可）</span></td>
            <td class="sinfo">上传文件存放的临时目录：$systemMsg[upload_tmp_dir]</td>
          </tr>
          <tr>
            <td class="sinfo">最大上传限制：$systemMsg[max_upload]<span help="1">（需更大可修改php.ini里的upload_max_filesize值，重启服务器即可）</span></td>
            <td class="sinfo">服务器所在时间：$systemMsg[systemtime]</td>
          </tr>
          <tr>
            <td class="sinfo">最大执行时间：$systemMsg[max_ex_time]<span help="1">（需更大可修改php.ini里的max_execution_time值，重启服务器即可）</span></td>
            <td class="sinfo">网站所在磁盘物理位置：$systemMsg[DOCUMENT_ROOT]</td>
          </tr>
          <tr>
            <td class="sinfo">空间限制内存：$systemMsg[memory_user_limit]<span help="1">（需更大可修改php.ini里的memory_limit值，重启服务器即可）</span></td>
            <td class="sinfo">当前文件路径：$systemMsg[SCRIPT_FILENAME]</td>
          </tr>
          <tr>
            <td class="sinfo">是否支持采集：$systemMsg[allow_url_fopen]<span help="1">（如果不支持可把php.ini里的allow_url_fopen=Off改成allow_url_fopen=On，重启服务器即可）</span></td>
            <td class="sinfo">Zend Optimizer版本：$systemMsg[zendVersion]</td>
          </tr>
          <tr>
            <td class="sinfo">是否支持GD2库：$systemMsg[gdpic]<span help="1">（如果不支持可把php.ini中;extension=php_gd2.dll前面的;去掉，重启服务器即可）</span></td>
            <td class="sinfo">当前登陆IP：$systemMsg[onlineip]</td>
          </tr>
          <tr>
            <td class="sinfo">是否允许Cookie：$systemMsg[ifcookie]<span help="1">（如果不允许可在Windows控制面板 ,"Internet选项" ,隐私设置中调整）</span></td>
            <td class="sinfo">当前域名：$systemMsg[SERVER_NAME]</td>
          </tr>
        </table>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="maintable">
  <tr>
    <td class="head">开 发 团 队</td>
  </tr>
  <tr>
    <td class="cont"> 
    	<div class="list">官方网站： <a href="http://www.qibosoft.com" target="_blank">http://www.qibosoft.com</a> </div>
        <div class="list">技术支持： <a href="http://bbs.qibosoft.com" target="_blank">http://bbs.qibosoft.com</a> </div>
<!--
EOT;
if(is_file(ROOT_PATH."inc/biz/biz.php")){
print <<<EOT
-->
      <div class="list">版本类型： {$qibosoft_Edition} <A HREF="http://www.qibosoft.com/biz/impower.php" target="_blank"><font color=blue>商业授权</font></A><span help="1">（授权域名：{$BIZ_URLDB['0']}）</span></div>
      <!--
EOT;
}else{
print <<<EOT
-->
     <div class="list"> 版本类型： {$qibosoft_Edition} <A HREF="http://www.qibosoft.com/biz/product.php" target="_blank"><font color=green>个人免费</font></A><span help="1">（适合个人学习，否则建议购买商业授权版，获取更好的服务和功能）</span></div> 
<!--
EOT;
}
print <<<EOT
-->
		<div class="list">系统设计： 龙城</div>
        <div class="list">团队管理： 雄军</div>
        <div class="list">特别鸣谢： <a href="http://bbs.qibosoft.com/profile-bbs-action-show-uid-81067.html" target="_blank">lisheng51</a>、 
      <a href="http://www.zxx6.com/" target="_blank">toopd</a>、七月 等等</div>
    </td>
  </tr>
</table> 
<SCRIPT LANGUAGE="JavaScript">
<!--
document.write('<div align="center">');
//-->
</SCRIPT>
<!--
EOT;
?>
-->
