<!--
<?php
if($lfjid){
$lfjdb[regdate] = date("Y-m-d",$lfjdb[regdate]);
$lfjdb[moneya]=get_money($lfjdb[uid]);
print <<<EOT
-->
<div class="head"><span>欢迎回来</span><a href="$webdb[www_url]/do/login.php?action=quit">安全退出</a></div>
<div class="cont">
    <div class="img"><a href="$webdb[www_url]/member/?uid=$lfjuid" target="_blank"><img src="$lfjdb[icon]" onload="makesmallpic(this,90,90);" width="90" height="90" onerror="this.src='$webdb[www_url]/images/default/noface.gif'"/></a></div>
    <div class="info">
        <div class="name"><span>$lfjid</span> <a href="$webdb[www_url]/member/" target="_blank">会员中心</a></div>
        <div class="jb">级别:{$ltitle[$lfjdb[groupid]]}</div>
        <div class="money">{$webdb[MoneyName]}:<span>$lfjdb[moneya]</span> {$webdb[MoneyDW]}</div>
        <div class="day">注册日期: $lfjdb[regdate]</div>
    </div>
</div>
<!--
EOT;
}else{print <<<EOT
-->		
<form id="form1aa" name="form1aaa" method="post" action="$webdb[www_url]/do/login.php">
	<div class="head"><span>用户登录</span><a href="$webdb[www_url]/do/sendpwd.php">忘记密码</a></div>
    <div class="cont conta">
    	<dl class="text"><dt>用户名：</dt><dd><input name="username" type="text" /></dd></dl>
        <dl class="text"><dt>密 码：</dt><dd><input name="password" type="password" /></dd></dl>
        <dl class="sub">
        	<dt><br/></dt>
            <dd>
            	<input name="" type="image" src="$webdb[www_url]/images/blue/loginsub.gif" />
                <a href="$webdb[www_url]/do/reg.php"><img src="$webdb[www_url]/images/blue/loginreg.gif" /></a>
            </dd>
        </dl>
    </div>
    <input type="hidden" name="step" value="2">
    <input class="radio" type="hidden" name="cookietime" value="86400" >       
</form>
<!--
EOT;
}?>
-->