<!--
<?php
print<<<EOT
-->
<style type="text/css">
<!--
.MainTable{
	border:#1A5DB0 solid 1px;
	width:99%;
	margin:0 auto;
}
.MainTable .head{
	line-height:25px;
	padding-left:10px;
	border:#FFF solid 1px;
	background:#6799B8;
	color:#FFF;
	font-weight:bold;
}
.MainTable .cont{
	padding:5px;
}
.MainTable .cont .in{
	width:16%;
	vertical-align:top;
	padding:0 10px 5px 10px;
}
.MainTable .cont .side{
	margin-bottom:5px;
}
.MainTable .cont .side .h{
	line-height:25px;
	height:25px;
	color:#1A5DB0;
	font-weight:bold;
	background:url($webdb[www_url]/images/default/flea_line.gif) left 12px repeat-x;
}
.MainTable .cont .side .h span{
	float:left;
	padding-right:5px;
	background:#FFF;
}
.MainTable .cont .side .c{
	clear:both;
}
.MainTable .cont .side .c span{
	display:block;
	padding:3px 0 3px 0;
}
.MainTable .cont .side .c span a{
	color:#6799B8;
}
-->
</style>
 
<table width="100%" border="0" cellspacing="0" cellpadding="0"class="MainTable">
    <tr> 
      <td class="head">ºóÌ¨²Ëµ¥</td>
    </tr> 
    <tr>
      <td class="cont"> 
        {$listhtml}
      </td>
    </tr>
</table>
<!--
EOT;
?>
-->
 