<!--
<?php
print <<<EOT
--> 
<table id="top_menu" width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
 
  <tr> 
    <td align="center"> 
      <input type="button" name="Submit2" value="系统页模板管理" onClick="window.location=('index.php?lfj=template&job=list')">
      　
     
      　 
      <input type="button" name="Submit" value="碎片页模板管理" onClick="window.location=('index.php?lfj=template&job=list2')">
      　　 <input type="button" name="Submit5" value="常用模板管理" onClick="window.location=('index.php?lfj=style&job=edittpl')"> 　
      <input type="button" name="Submit4" value="增加系统页模板" onClick="window.location.href='index.php?lfj=template&job=maketpl&type=1&notop=1'">
      　　 
      <input type="button" name="Submit3" value="增加碎片页模板" onClick="window.location.href='index.php?lfj=template&job=maketpl2'">
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
