<!--
<?php
print <<<EOT
--> 
<link rel="stylesheet" type="text/css" href="$webdb[www_url]/images/$STYLE/gift/index.css">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainContainer">
  <tr>
  	<td class="MainL">
    	<div class="SlideContainer">$label[gift_rollpic]</div>    	
    </td> 
    <td class="SideR">
    	<div class="SideContainer">
            <div class="heada"><span class="L">礼品兑换流程</span></div>
            <div class="cont">
            	$label[gift_news]
            </div>
        </div>
        <div class="notebox">
        	<dl>
            	{$label[blue_gifthavezf]}            	
            </dl>
        </div>
    </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainContainer mt10">
  <tr>
  	<td class="MainL">
    	<div class="dragcontainer">
        	<div class="head">
            	<div class="L">礼品兑换</div>
                <div class="R">
                	<span onclick="ShowTab(1,1,4)" id="Span1">最新礼品</span>
                    <span onclick="ShowTab(2,1,4)" id="Span2">热门礼品</span>
                    <span onclick="ShowTab(3,1,4)" id="Span3">推荐礼品</span>
                </div> 
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="cont" id="Tab1">
              <tr>
                <td>$label[gift_pic1]</td>
              </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="cont" id="Tab2">
              <tr>
                <td>$label[blue_giftlist2]</td>
              </tr>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="cont" id="Tab3">
              <tr>
                <td>$label[blue_giftlist3]</td>
              </tr>
            </table>
            <SCRIPT LANGUAGE="JavaScript">ShowTab(1,1,4);</SCRIPT>
        </div>
    </td>
  	<td class="SideR">
    	<div class="sortcontainer">
        	<div class="head"><span>商品分类</span></div>
            <div class="cont">
<!--
EOT;
$i=0;
foreach($Fid_db[0] AS $key=>$name){
$i++;
$url=get_info_url('',$key,$city_id);
print <<<EOT
-->
                <div class="listsort sort$i"><a href="$url">$name</a></div>			
<!--
EOT;
}
print <<<EOT
-->
            </div>
        </div>
        <div class="sidecontainer mt10">
        	<div class="head"><span>积分换礼品信息</span></div>
            <div class="cont">
<!--
EOT;
$array=list_apply(5);
foreach($array AS $rs){
print <<<EOT
-->
			  
          <div class="list"><span>$rs[username]</span>于<em>$rs[posttime]</em>申请了<a href="bencandy.php?fid=$rs[fid]&id=$rs[id]" target="_blank">$rs[title]</a></div>
<!--
EOT;
}
print <<<EOT
--></div>
            <div class="cont">$label[gift_left1]</div>
        </div>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
