<!--
<?php
print <<<EOT
-->
<table width='100%' cellspacing='1' cellpadding='3' class="tablewidth">
  <form name="form1" method="post" action="index.php?lfj=$lfj&action=edit&id=$id">
    <tr  class="head"> 
      <td colspan='2'> 
        <div align='center'><b><font color="#FFFFFF">修改广告</font></b></div>
      </td>
    </tr>     
    <tr> 
      <td width='15%'>广告标语:</td>
      <td> 
        <input  class=mmcinb  type='text' size='50' value='$radb[title]' name='title'>
      </td>
    </tr>
    <tr> 
      <td>电话号码:</td>
      <td> 
        <input  class=mmcinb  type='text' size='30' value='$radb[telephone]' name='telephone'>
      </td>
    </tr>
    <tr> 
      <td>结束日期:</td>
      <td> 
        <input  class=mmcinb  type='text' size='30' value='$radb[endtime]' name='endtime'>
      </td>
    </tr>
    <tr> 
      <td>&nbsp;</td>
      <td> 
        <input  class=mmcinb  type='submit' name='w' value='修改'>
      </td>
    </tr>
  </form>
</table>
<!--
EOT;
?>
-->