
body, form, ul, li, p, dl, dd, dt ,h,td,th,h3{
	margin: 0;
	padding: 0;
	font-size: 12px;
}
li,ul{
	list-style: none;
}

 
TD {
	color: #333333;
	VERTICAL-ALIGN: top;
}

 
input,textarea{
	border:1px solid #ccc;
}

a {
	font-size: 12px;
}
a:link {
	color: #333333;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: underline;
	color: #4E667B;
}
a:active {
	text-decoration: none;
}
.wrap{
	width:990px;
	margin:auto;
	padding:10px 0 0 0;
}
.mt10{
	margin-top:10px;
}
img{
	border:0;
}
body{
	background:#F2F2F2 url(top.gif) left 1px repeat-x;
}
/*******************************************网站头部**********************************/
/*
*顶部信息
*/
.TopContainer{
	height:30px;
	width:990px;
	overflow:hidden;
	margin:auto;
	line-height:33px;
}
.TopContainer .top_login{
	float:left;
	height:30px;
}
.TopContainer .top_login span{
	display:block;
	float:left;
	padding-right:5px;
}
.TopContainer .top_login em{
	color:red;
	font-style:normal;
}
.TopContainer .top_login .input{
	padding-top:5px;
}
.TopContainer .top_login .sub{
	padding-top:5px;
}
.TopContainer .top_login .img{
	padding-top:6px;
	padding-right:8px;
}
.TopContainer .top_login .input input{
	width:100px;
	height:15px;
}
.TopContainer .top_login .sub input{
	background:#FFF;
}
.TopContainer .Time{
	float:right;
}
/*
*logo&搜索
*/
.LogoContainer{
	clear:both;
	width:990px;
	height:90px;
	margin:auto;
}
.LogoContainer{
	clear:both;
	width:990px;
	height:90px;
	margin:auto;
}
.LogoContainer .logo{
	float:left;
	width:200px;
	text-align:center;
	padding-top: 10px; 
}
.LogoContainer .changecity{
	float:left;
	width:100px;
	height:60px;
	text-align:center;
	margin-top:15px;
	background:url(cityspace.gif) left top repeat-y;
}
.LogoContainer .changecity span{
	display:block;
}
.LogoContainer .changecity span.city{
	font-size:14px;
	font-weight:bold;
	background:url(citybg.gif) center top no-repeat;
	padding:6px 0 20px 0;
}
#topsearch{
	width:500px;
	height:60px;
	overflow:hidden;
	float:right;
	margin-top:15px;
	background:url(topsearchbg.gif) right 24px no-repeat;
}
#topsearch .searchtype{
	height:25px;
	padding-left:10px;
}
#topsearch .searchtype a{
	display:block;
	width:50px;
	text-align:center;
	padding:5px 0 0 0;
	line-height:20px;
	float:left;
	text-decoration:none;
}
#topsearch .searchtype a.choose{
	background:url(choosebg.gif) center bottom no-repeat;
	color:#FFF;
	font-weight:bold;
}
#topsearch .searchform{
	height:35px;
	padding-left:15px;	
}
#topsearch .searchform span{
	float:left;
	padding-top:5px;
}
#topsearch .searchform span.input input{
	width:370px;
	height:23px;
	line-height:23px;
	background:none;
	border:0;
	color:#666;
}
#topsearch .searchform span.submit input{
	height:23px;
	line-height:23px;
	width:110px;
	background:none;
	border:0;
	text-align:center;
	font-weight:bold;
	color:#FFF;
	cursor:pointer;	
}
/*
*导航菜单
*/
#MainMenu{
	height:42px;
	width:990px;
	margin:auto;
	overflow:hidden;
	background:url(menubg.gif) left top repeat-x;
}
#MainMenu{
	height:42px;
	width:990px;
	margin:auto;
	overflow:hidden;
	background:url(menubg.gif) left top repeat-x;
}
#MainMenu ul{
	height:42px;
	width:850px;
	overflow:hidden;
	float:left;
	padding-left:15px;
	background:url(menuspace.gif) 15px top no-repeat;
}
#MainMenu ul li{
	height:42px;
	float:left;
	padding-left:12px;
}
#MainMenu ul li a{
	display:block;
	padding:7px 12px 0 0;
	line-height:35px;
	background:url(menuspace.gif) right top no-repeat;
	color:#F2F2F2;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
}
#MainMenu ul li.choose{
	background:url(choosm.gif) left bottom no-repeat;
}
#MainMenu ul li.choose a{
	background:url(choosm.gif) right bottom no-repeat;
	color:#333;
}
#MainMenu #TopPostInfo{
	height:42px;
	width:120px;
	overflow:hidden;
	float:right;
	background:url(menupost.gif) left 10px no-repeat;
}
#MainMenu #TopPostInfo a{
	display:block;
	margin-top:10px;
	color:#C7241B;
	text-decoration:none;
	padding:6px 0 5px 25px;
	font-weight:bold;
}
/*****************************
*******页面路径
**********************************/
#nav_guide{
	border:1px solid #EAEAEA;
	margin:8px auto 8px auto;
	background:#FFF;
}
#nav_guide div{
	float:left;
	padding:5px 0 0 8px;
	line-height:25px;
}
#nav_guide .t1{
	background:url(nav_guide.gif) no-repeat 7px 9px;
	padding-left:24px;
	color:#FF0000;
}
/******
*底部样式
********/
#copyright{
	padding-bottom:13px;
	text-align:center;
	border-top:1px solid #ddd;
	clear:both;
	width:990px;
	margin:10px auto 0 auto;
	color:#666;
	line-height:20px;
}

/******************************************
头部搜索栏样式开始
*******************************************/
#topsearchtb{
	width:990px;
	height:40px;
	background:url(indexsearch/sbg.gif) center top no-repeat;
}
#topsearchtb .formleft,#topsearchtb .keyword,#topsearchtb .submit,#topsearchtb .brand,#topsearchtb .hotsearch{
	float:left;
}
#topsearchtb .formleft{
	margin:6px 0 0 30px;
	width:444px;
	height:30px;
	background:url(indexsearch/inputbg.gif) no-repeat;
	overflow:hidden;
}
#topsearchtb .keyword input{
	width:320px;
	height:25px;
	line-height:25px;
	border:0;
	background:none;
}
#topsearchtb .submit,#topsearchtb .brand{
	padding:6px 0 0 5px;
}
#topsearchtb .brand img{
	border:0;
}
#topsearchtb .hotsearch{
	padding:15px 0 0 15px;
	color:#FFFFFF;
}
#topsearchtb .serchl{
	padding:5px 0 0 30px;
}
#topsearchtb .serchr{
	width:545px;
}
#topsearchtb .serchl table{
	width:445px;height:30px;
	background:url(indexsearch/inputbg.gif) no-repeat;
}
#topsearchtb .serchl table .select{
	width:90px;
}
#topsearchtb .serchl table .select .unclick{
	background:url(indexsearch/select.gif) no-repeat;
	height:25px;
	padding:3px 0 0 15px;
	line-height:25px;
}
#topsearchtb .serchl table .select .onclick{
	background:url(indexsearch/select1.gif) no-repeat;
	height:25px;
	padding:3px 0 0 15px;
	line-height:25px;
}
#listselect{
	position:absolute;
	background:url(indexsearch/select.gif) left bottom no-repeat;
	width:90px;
	padding-bottom:3px;
	z-index:10000;
}
#listselect a{
	display:block;
	background:url(indexsearch/select2.gif) left top repeat-y;
	padding:3px 0 0 15px;
	line-height:25px;
	width:90px;
}
#listselect .ck{
	background:url(indexsearch/select3.gif) left top repeat-y;
	color:#FFFFFF;
}
#listselect a:hover{
	background:url(indexsearch/select4.gif) left top repeat-y;
	text-decoration:none;color:#FFFFFF;
}
#topsearchtb .serchr #subbtn{
	width:90px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:url(indexsearch/sub.gif) center top no-repeat;
	border:0;color:#B04A00;
	font-size:14px;
	font-weight:bold;
}

/******************************************
头部搜索栏样式结束
*******************************************/

/*********************************************************************
**********************************************************************
AJAX在线编辑DIV容器
这个会员看不到.只是版主管理员才可以看到.这是后台风格
一般不必修改了.修改了会员也看不到
**********************************************************************
*********************************************************************/
#AjaxEditTable{
	border:1px solid #BEDDFF;
	background:#FFF;
}
#AjaxEditTable .head{
	height: 21px;
	background: #DBEAFF;
	border-bottom:1px solid #BEDDFF;
	padding:3px 5px 0 7px;
}
#AjaxEditTable .head a{
	color:#FFF;
}
#AjaxEditTable .head span{
	DISPLAY: block; 
	FLOAT: right;
}
#AjaxEditTable .middle{
	background:#FFF;
	line-height:18px;
	padding:5px;
}
#AjaxEditTable .middle input,#AjaxEditTable .middle textarea{
	border:1px solid #BEDDFF;
	background:#FFF;
}

