<!--
<?php
print <<<EOT
-->  
<table width="100%" border="0" cellspacing="1" cellpadding="3" class="tablewidth">
  <form name="form1" method="post" action="index.php?lfj=limitword&action=$job">
    <tr align="center" class="head"> 
      <td width="38%">原字符</td>
      <td width="38%">欲替换成新字符</td>
      <td width="24%">操作</td>
  </tr>
    <tr align="center" bgcolor="#F7F7F7"> 
      <td width="38%"> 
        <input type="text" name="oldword" size="40" value="$rsdb[oldword]">
      </td>
      <td width="38%"> 
        <input type="text" name="newword" size="40" value="$rsdb[newword]">
        <input type="hidden" name="id" value="$id">
      </td>
      <td width="24%"> 
        <input type="submit" name="Submit2" value="提 交">
     
    </td>
  </tr> </form>
</table>
  <!--
EOT;
?>
-->