<!--
<?php
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td width="70%" height="393" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable" id="sort_list">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">当前活动参加人数如下</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle"> 
            <!--
EOT;
foreach($listdb AS $key=>$rs){
$rs[content]=get_word($rs[content],$fidDB[config][listContentNum]>0?$fidDB[config][listContentNum]:150);
$target=$rs[target]?'_blank':'_self';
print <<<EOT
-->
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="list_sortTCP">
              <tr> 
                <td width="13%" class="pic"><a href="$webdb[www_url]/member/homepage.php?uid=$rs[uid]" title='$rs[full_title]' style="display:block;width:90px;height:90px;border:1px solid #ccc;"><img width="90" height="90" onError="this.src='$webdb[www]/images/default/nopic.jpg'"  src="$rs[picurl]" style="border:1px solid #fff;" border="0"></a></td>
                <td valign="top" class="title"><b><font color="#CC0000">报名者：</font></b> 
                  <a href="joinshow.php?fid=$fid&id=$rs[id]" target="$target" title='$rs[full_title]' style="color:$rs[titlecolor]"><b>$rs[username]</b></a><br>
                  <b><font color="#CC0000">报名时间：</font></b>{$rs[posttime]}<br>
                  $listTPL <a href="joinshow.php?fid=$fid&id=$rs[id]">查看详情</a> 
                </td>
              </tr>
            </table>
            <!--
EOT;
}
print <<<EOT
-->
             
            <div class="page">$showpage</div>
            
 
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
    <td width="30%" height="393" valign="top" class="Side" align="right"> <table width="100%" border="0" cellspacing="0" cellpadding="0" class="dragTable" >
        <tr> 
          <td class="head" height="19"> 
            <h3 class="L"></h3>
            <span class="TAG">活动分类</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle" align="left"> 
            <!--****************************相关栏目名称开始****************************-->
            <!--
EOT;
$webdb[InfoListsortnameline]>0 || $webdb[InfoListsortnameline]=1;
$Listsortnameline=floor(94/$webdb[InfoListsortnameline]).'%';
$array=$listdb_moresort?$Fid_db[$fid]:$Fid_db[$fidDB[fup]];
foreach($array AS $key=>$value){
print <<<EOT
-->
            <div style="border:1px solid #DFDFDF;margin:7px;padding:4px;background:#F9F9F9 url($webdb[www_url]/images/default/article_elite.gif) no-repeat 7px 3px;text-indent:22px;letter-spacing:4px;"><a style="font-weight:bold;" href="list.php?fid=$key">$value</a></div>
            <!--
EOT;
}print <<<EOT
-->
            <!--****************************相关栏目名称结束****************************-->
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
      
      
      
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
