<!--
<?php
print <<<EOT
--> 
 <script type="text/javascript" src="$webdb[www_url]/ewebeditor/ckeditor/ckeditor.js"></script>
<script src="$webdb[www_url]/images/default/setday.js"></script>
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td width="100%" height="393" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable" id="viewarticle">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">申请的礼品:<a href='bencandy.php?fid=$fid&id=$id&city_id=$infodb[city_id]'>$infodb[title]</a></span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle"> 
            <table width="99%" border="0" cellspacing="1" cellpadding="3" id="bigtable">
              <form name="FORM" method="post" action="?action=$atc" enctype="multipart/form-data">
                <tr> <td align='right'>联系人姓名:<br></td> <td > <input   type='text' name='postdb[contact_name]' id='atc_contact_name' style='width:100px;' value='$rsdb[contact_name]'> </td></tr><tr> <td align='right'>联系人电话:<br></td> <td > <input   type='text' name='postdb[contact_phone]' id='atc_contact_phone' style='width:100px;' value='$rsdb[contact_phone]'> </td></tr><tr> <td align='right'>收信地址:<br></td> <td > <input   type='text' name='postdb[contact_address]' id='atc_contact_address' style='width:200px;' value='$rsdb[contact_address]'> </td></tr><tr> <td align='right'>附注:<br></td> <td ><textarea  name='postdb[content]' id='atc_content' style='width:400px;height:50px;'>$rsdb[content]</textarea> </td></tr><!----> 
                <tr> 
                  <td width="18%">&nbsp;</td>
                  <td width="82%"> 
                    <input type="submit" name="Submit" value="提 交" class='submit'>
                    <input type="hidden" name="fid" value="$fid">
                    <input type="hidden" name="id" value="$id">
                    <input type="hidden" name="cid" value="$cid">
                    <input type="hidden" name="postdb[title]" id="atc_title" size="50" value="$infodb[title]">
					
<!--
EOT;
if($job=='edit'){print <<<EOT
-->
                    <a href="?action=del&id=$id&fid=$fid&cid=$cid" onclick="return confirm('你确认要删除吗?');">删除</a>
<!--
EOT;
}print <<<EOT
-->
					 </td>
                </tr>
              </form>
            </table>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
