<!--
<?php
print <<<EOT
--> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="MainTable">
  <tr> 
    <td width="100%" height="200" valign="top" class="Main"> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="dragTable">
        <tr> 
          <td class="head"> 
            <h3 class="L"></h3>
            <span class="TAG">$fidDB[name]</span> 
            <h3 class="R"></h3>
          </td>
        </tr>
        <tr> 
          <td class="middle"> 
            <table width='99%' cellspacing='1' cellpadding='3' bgcolor='#E8E8E8' class="tablewidth formlist_table">
              <tr class="formlist_head"> 
                <td  align="center" style="width:30px;">±‡∫≈</td>
                $TempLate1 
                <td align="center" style="width:40px;">œÍ«È</td>
              </tr>
              <!--
EOT;
foreach($listdb AS $key=>$rs){
print <<<EOT
-->
              <tr bgcolor='#FFFFFF' class="formlist_tr"> 
                <td align="center" style="width:30px;"> $rs[id]</td>
                $TempLate2 
                <td align="center" style="width:40px;"><a href="$webdb[www_url]/do/bencandy_form.php?mid=$rs[mid]&id=$rs[id]" target="_blank"><img src="$webdb[www_url]/member/images/icon_view.gif" border="0" alt="≤Èø¥"></a></td>
              </tr>
              <!--
EOT;
}print <<<EOT
-->
              <tr bgcolor='#FFFFFF' class="formlist_page"> 
                <td colspan="12" align="center"> $showpage</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr> 
          <td class="foot"> 
            <h3 class="L"></h3>
            <h3 class="R"></h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--
EOT;
?>
-->
